div.page-not-found_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}